[submodule "core"]
	path = core
	url = https://github.com/KimKwangHwan/rankers-core.git
[submodule "back"]
	path = back
	url = https://github.com/DDnK-dev/rankers-back.git
[submodule "front"]
	path = front
	url = https://github.com/imunokyh/rankers-front.git
